.idea
src/public/bootstrap*
src/public/jquery*
src/public/angular*
maven/target*
build
sampleapp/repo/javax*
sampleapp/repo/com/g*
sampleapp/repo/mysql*
sampleapp/repo/org*
sampleapp/repo/net*
agents/*
db
npm-debug.log
.nvm
AppServerAgent
MachineAgent
DatabaseAgent
log
status-*
cookies
tomcat*
node
pgsql
utils*
node_modules
