.center {
    display: block;
    margin: 0 auto;
}

.jumbotron {
    background-color: #999999;
}

.caption h3 {
    text-decoration: underline;
}

.glyphicon {
  padding-left: 5px;
}

.row {
  margin-top: 5px;
}