<h3>PUT/POST/DEL Operations</h3>

<table class="table table-condensed table-striped">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Name
            </th>
            <th>
                Remaining Queries
            </th>
            <th>
                &nbsp;
            </th>
        </tr>
    </thead>
    <tbody>
        <tr data-ng-repeat="product in products">
            <td>
                {{product.id}}
            </td>
            <td>
                <input type="text" ng-model="product.name" />
            </td>
            <td>
                <input type="number" ng-model="product.stock" />
            </td>
            <td>
                <button type="button" ng-click="product.save(true)" ng-disabled="product.loading" class="btn btn-sm btn-primary" alt="Save">
                    PUT (Decrease queries by 1)<span class="glyphicon glyphicon-minus-sign"></span>
                </button>
                <button type="button" ng-click="product.save()" ng-disabled="product.loading" class="btn btn-sm btn-primary" alt="Save">
                    PUT<span class="glyphicon glyphicon-floppy-save"></span>
                </button>
                <button type="button" ng-click="product.delete()" ng-disabled="product.loading" class="btn btn-sm btn-danger" alt="Delete">
                    DEL<span class="glyphicon glyphicon-trash"></span>
                </button>
            </td>
        </tr>
    </tbody>
    <tfoot>
        <tr class="alert-info">
            <td>
                New
            </td>
            <td>
                <input type="text" ng-model="newName" />
            </td>
            <td>
                <input type="number" ng-model="newStock" />
            </td>
            <td>
                <button type="button" class="btn btn-sm btn-primary" ng-click="addNew()" ng-disable="loadingNew">POST<span class="glyphicon glyphicon-plus-sign"></span></button>
            </td>
        </tr>
    </tfoot>
</table>

<h3>Recursive GET Call</h3>
<div class="row">
    <div class="col-sm-12">
        Number of Calls: <input type="text" ng-model="recursive" /> <button type="button" class="btn btn-danger btn-sm" ng-click="loopingGet()" ng-disabled="looping">Run</button> (<span>Loop: <strong>{{getActiveLoop()}}</strong></span>)
    </div>
</div>

<h3>Exception Operations</h3>

<div class="row">
    <div class="col-sm-12">
      <button type="button" class="btn btn-danger btn-sm" ng-click="raiseException()" ng-disabled="raising">Raise Exception - Node</button>
      (<span>Number of Exceptions Raised This Session: <strong>{{getExceptions()}}</strong></span>)
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
      <button type="button" class="btn btn-danger btn-sm" ng-click="raiseJavaException()" ng-disabled="raisingJava">Raise Exception - Java</button>
      (<span>Number of Exceptions Raised This Session: <strong>{{getJavaExceptions()}}</strong></span>)
    </div>
</div>