<table class="table table-bordered table-condensed">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Name
            </th>
            <th>
                Remaining Stock
            </th>
            <th>
                &nbsp;
            </th>
        </tr>
    </thead>
    <tbody>
        <tr data-ng-repeat="product in products">
            <td>
                {{product.id}}
            </td>
            <td>
                <input type="text" name="name" ng-value="product.name" />
            </td>
            <td>
                <input type="text" name="name" ng-value="product.stock" />
            </td>
            <td>

            </td>
        </tr>
    </tbody>
</table>